.orderCompleteModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #faf7f2;
  border-radius: 8px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-weight: bold;
    color: #7a4e2d;
    font-size: 18px;
    margin-bottom: 24px;
  }
  p {
    font-size: 14px;
  }
  .orderCompleteImage {
    width: 50%;
    height: auto;
    margin-bottom: 24px;
  }
  .backButton {
    width: 100%;
    margin-top: 40px;
  }
}
