.check {
  position: fixed;
  bottom: 0;
  z-index: 1600;
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  padding: 24px 24px 80px;
  border-radius: 24px 24px 0 0;
  background-color: #faf7f2;
  box-shadow: 0 0 8px #ccc;
  &.active {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    bottom: 0;
  }
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .empty {
    text-align: center;
    margin-bottom: 40px;
  }
  .checkDetail {
    text-align: center;
    margin-bottom: 16px;
    background-color: rgba(122, 78, 45, 0.05);
    padding: 24px 0;
    border-radius: 8px;
  }
  .totalCount {
    font-weight: bold;
  }
  .totalPrice {
    font-weight: bold;
    font-size: 24px;
  }
  .detailLinkWrap {
    margin-bottom: 40px;
    display: flex;
    justify-content: right;
  }
  .detailLink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    color: #7171ff;
    text-decoration: underline;
    font-size: 14px;
  }
  .submitButton {
    width: 100%;
    margin-bottom: 20px;
  }
  .backButton {
    width: 100%;
  }
}

.checkConfirmModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #faf7f2;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-weight: bold;
    color: #7a4e2d;
    font-size: 18px;
    margin-bottom: 24px;
  }
  p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .submitButton {
    width: 100%;
    margin-bottom: 20px;
  }
  .backButton {
    width: 100%;
  }
}

.finishModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #faf7f2;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-weight: bold;
    color: #7a4e2d;
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .image {
    width: 70%;
    height: auto;
  }
}
