.wrap {
  position: fixed;
  left: 0;
  bottom: 0; // Footerがあるなら、その上に出す（高さに合わせて調整）
  z-index: 220;
  width: 100%;
  background-color: #faf7f2;
  box-sizing: border-box;
  padding: 24px 24px 80px;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 8px #ccc;
}

.button {
  width: 100%;
  border-radius: 999px;
}
