.footerWrap {
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 20000;
    width: 100%;
    box-shadow: 0 0 8px #ccc;
  }
  .fabWrap {
    z-index: 1250;
    position: fixed;
    bottom: 70px;
    right: 24px;
    .fab {
      background-color: #2f5d50;
      color: #fff;
    }
  }
}
