.numberSpinner {
  display: flex;
  justify-content: right;

  .input {
    padding: 8px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    width: calc(100% - 72px);
  }

  button {
    width: 36px;
    height: 36px;
  }

  .minusButton {
    border-radius: 4px 0 0 4px;
  }
  .plusButton {
    border-radius: 0 4px 4px 0;
  }
}
