.orders {
  padding: 0 24px 140px;
  h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0;
  }

  .orderListWrap {
    padding: 12px 0;
    .timeWrap {
      font-weight: bold;
      font-size: 14px;
      .time {
        margin-left: 12px;
      }
    }
    .orderList {
      list-style: none;
      border-bottom: 1px solid rgba(122, 78, 45, 0.04);
      margin-bottom: 8px;
      padding: 8px 0;
      > li {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
      }
    }
    .total {
      text-align: right;
      font-size: 14px;
      > span {
        font-weight: bold;
        font-size: 16px;
        margin-left: 4px;
        .small {
          font-size: 12px;
        }
      }
    }
  }
  .grandTotal {
    p {
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      > span {
        font-size: 24px;
        font-weight: bold;
        margin-left: 12px;

        .small {
          font-size: 12px;
        }
      }
    }
  }
}
