h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0;
}

.header {
  width: 100%;
  background-color: #faf7f2;
}

.contents {
  padding: 0 0 140px;
}

.list {
  .listItem {
    border-bottom: 1px solid rgba(122, 78, 45, 0.04);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    .image {
      width: 20%;
      height: 20%;
      display: block;
      border-radius: 8px;
    }

    .textWrap {
      width: 45%;
      padding: 0 16px;
      box-sizing: border-box;
      .name {
        margin-bottom: 8px;
        font-size: 14px;
      }
      .priceWrap {
        display: flex;
        justify-content: space-between;
      }
      .price {
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        opacity: 0.8;
        .yenMark {
          margin-right: 4px;
        }
      }
    }

    .buttonWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;
    }

    .openDetailButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      color: #7171ff;
    }
  }
}

.topAiSuggest {
  background-image: url("../../images/ai_banner_bg.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  .aiBanner {
    width: 80%;
    margin-bottom: 24px;
  }
  .aiBannerTextWrap {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    .aiBannerText {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      background-color: #fff;
      z-index: 12;
      position: relative;
      padding: 0 12px;
    }
    &::after {
      content: "";
      width: 100%;
      border-bottom: 2px solid rgba(122, 78, 45, 0.2);
      position: absolute;
      left: 0;
      top: 12px;
    }
  }
}

.aiLoadingModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #faf7f2;
  border-radius: 8px;
  padding: 24px;
  p {
    text-align: center;
  }
}

.aiSuggestModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #faf7f2;
  border-radius: 8px;
  padding: 24px;
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #7a4e2d;
  }
  .aiSummary {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(122, 78, 45, 0.05);
    padding: 8px;
    border-radius: 8px;
    color: #7a4e2d;
    margin-bottom: 12px;
  }
  ul {
    margin-bottom: 24px;
  }
  .aiSuggestList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(122, 78, 45, 0.12);
    .aiText {
      width: 65%;
      .name {
      }
      .reason {
        font-size: 12px;
      }
    }
    .aiSpinner {
      width: 35%;
      display: flex;
      align-items: center;
    }
  }
  .addAllButton,
  .orderButton {
    width: 100%;
    margin-bottom: 20px;
  }
  .modalCloseButton {
    width: 100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(180px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}

.detail {
  position: fixed;
  bottom: -100vh;
  z-index: 190;
  opacity: 0;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  padding: 24px 24px 80px;
  border-radius: 24px 24px 0 0;
  background-color: #faf7f2;
  box-shadow: 0 0 8px #ccc;
  &.active {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    bottom: 0;
  }
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .name {
    font-weight: bold;
    font-size: 18px;
  }
  .desc {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .notFound {
    text-align: center;
  }
  .detailWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .toCartButton {
    width: 100%;
    margin-bottom: 20px;
  }
  .backButton {
    width: 100%;
  }
}
